
.gitc1{
  height: auto;
  border-radius: 3px;
  margin:20px;
  padding-bottom:20px;
}
.gitc1 h4{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  color:white;
  font-size:25px;
}
label{
  font-size: 18px;
  color: white;
  margin-top: 5px;
}
input[type="text"]{
  width: 100%;
  border: 1px solid black;
  height: 40px;
  font-size:18px;
}
input[type="email"]{
  width: 100%;
  border: 1px solid black;
  height: 40px;
  font-size:18px;
}
input[type="phone"]{
  width: 100%;
  border: 1px solid black;
  height: 40px;
  font-size:18px;
}
textarea{
width: 100%;
border: 1px solid black;
height: auto;
font-size:18px;
}
.gitc1 input[type="submit"]{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color:#009432;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.gitc1 input[type="submit"]:hover{
  background-color:#6F1E51 ;
}


.gitc2a{
  height: auto;
  background-color: none;
  color:white;
}
.gitc2a h4{
  text-align: center;
  padding-top: 15px;
  font-size:25px;
}
.gitc2a p{
  text-align: center;
  font-size:18px;
}
.gitc2b{
  height: auto;
  background-color:none;
  margin-top: 20px;
  color:white;
}
.gitc2b h4{
  text-align: center;
  padding-top: 15px;
  font-size:25px;
}
.gitc2b p{
  text-align: center;
  font-size:18px;
}
.gitc2c{
  height: auto;
  background-color: none;
  padding-bottom: 10px;
  margin-top: 25px;
  color:white;
}
.gitc2c h4{
  text-align: center;
  padding-top: 15px;
  font-size:25px;
}
.gitc2c p{
  text-align: center;
  font-size:18px;
}

input[type="button"]{
  margin-top: 15px;
  width: 100%;
  height: 45px;
  font-size: 20px;
  background-color: #2c3e50;
  border: none;
  color: white;
  cursor: pointer;
}
input[type="button"]:hover{
  background-color:#009432 ;
}


.loch{
  background-color: white;
}
.loch h3{
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}
.locmap{
  background-color: #EDE6DF;
  height: auto;
}



.conta .fa {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.conta .fa:hover {
    opacity: 0.7;
	text-decoration:none;
	
}

.conta .fa-facebook {
  background: #3B5998;
  color: white;
}

.conta .fa-twitter {
  background: #55ACEE;
  color: white;
}

.conta .fa-google {
  background: #dd4b39;
  color: white;
}
.conta .fa-youtube {
  background: #bb0000;
  color: white;
}

.conta .fa-instagram {
  background: #125688;
  color: white;
}